{% extends "base.html"%} {%block title%}Registration Form{%endblock%}{%block content%} 


   
    <h1>Provide Feedback</h1>
    <h4>Tell us how we did!</h4>

<h5>Users Feedback:</h5>
    {%for post in posts%}
    <div class="col-lg-4 col-md-6 col-12">
        <div class="card my-4">
            <div class="card-body">
                <h5 class="card-title"><b>{{post.title}}</b></h5>
                <p class="card-text">{{post.content}}</p>
                {%if session["user_id"] == post.user.id%}
                    <form action= "/feedback/{{post.id}}/delete", method="POST">
                    
                    <button class="btn btn-outline-danger .btn-rounded">Delete</button>
                   </form>
                {%endif%}

            </div>
        </div>
    </div>
    

   
    {%endfor%}
{%endblock%}